@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');

*{
    padding: 0;
    margin:0;
}
body {
    position: relative;
}
.container-site {
    max-width: 1386px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
header {
    position: absolute;
    background-image: -moz-linear-gradient( 0deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    left: 0px;
    top: 0px;
    width: 287px;
    height: 100%;
    max-height: 800px;
}
.header-logo {
    display: flex;
    width: 100%;
    padding: 25px 0px;
    justify-content: center;
}
.header-logo-1024 {
    display: none;
}
.collapse {
    flex-wrap: wrap;
}
.navbar {
    padding: 0;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
.nav-item {

}
.nav-item .nav-link {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgb(48, 48, 54) !important;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    padding-left: 73px !important;
    height: 52px;
    display: flex;
    align-items: center;
}
.nav-link:hover {
    background-image: -moz-linear-gradient( 0deg, rgb(22,40,118) 0%, rgba(22,40,118,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(22,40,118) 0%, rgba(22,40,118,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(22,40,118) 0%, rgba(22,40,118,0) 100%);
    color: #fff !important;
}
.nav-link.active {
    background-image: -moz-linear-gradient( 0deg, rgb(22,40,118) 0%, rgba(22,40,118,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(22,40,118) 0%, rgba(22,40,118,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(22,40,118) 0%, rgba(22,40,118,0) 100%);
    color: #fff !important;
}
.form-inline {
    padding-left: 43px;
    position: relative;
}
.form-control.mr-sm-2 {
    width: 201px;
    background: transparent;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(178, 179, 184);
    line-height: 1.2;
    border: none;
    border-bottom: 1px solid rgb(210, 214, 217);
    outline: none;
    -webkit-box-shadow: 0 0 0 0 #000;
    -moz-box-shadow: 0 0 0 0 #000;
    box-shadow: 0 0 0 0 #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: .375rem 0;
}
.form-inline:after {
    content: '';
    display: block;
    position: absolute;
    right: 6px;
    top: 7px;
    width: 20px;
    height: 20px;
    background: url("../img/search-icon.png") no-repeat;
}
.block-1024 {
    display: none;
}
.about-link:before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 17px;
    left: 43px;
    background: url("../img/o-produkte-icon.png") no-repeat;
}
.use-link:before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 17px;
    left: 43px;
    background: url("../img/primeneniye-icon.png") no-repeat;
}
.doc-link:before {
     content: '';
     display: block;
     position: absolute;
     width: 15px;
     height: 15px;
     top: 17px;
     left: 43px;
     background: url("../img/document-icon.png") no-repeat;
 }
.contact-link:before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 17px;
    left: 43px;
    background: url("../img/contacts-icon.png") no-repeat;
}
.news-link:before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 17px;
    left: 43px;
    background: url("../img/news-icon.png") no-repeat;
}
.header-contact-tel {
    padding-left: 43px;
    margin-top: 50px;
}
.contact-tel-link {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(21, 39, 117);
    font-weight: bold;
    line-height: 1.2;
    position: relative;
    padding-left: 30px;
}
.contact-tel-link:hover {
    text-decoration: none;
    color: rgb(21, 39, 117);
}
.contact-tel-link:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    background: url("../img/phone-menu-icon.png") no-repeat;
}


/*    //////////////////     main      /////////////////   */

.main-header {
    width: 100%;
    height: 800px;
    background: url("../img/bg-header.png") no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-header-h1 {
    font-size: 44px;
    font-family: "Roboto";
    color: rgb(22, 40, 118);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    width: 467px;
    height: 140px;
}
.main-header-h1_span {
    font-size: 26px;
    line-height: 1.2;
    display: block;
    margin-bottom: 7px;
}

.main-row {
    padding-left: 287px;
}
.main-row-1 {
    display: flex;
}
.main-row-2 {
    display: flex;
}
/*.main-row-1 img {
    width: 33%;
}*/
.main-row-2 {
    display: flex;
    align-items: center;
}
.girl-main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.girl-main-text p {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(12, 25, 52);
    line-height: 1.5;
    width: 100%;
    max-width: 489px;
}

/*     ///////////           footer       /////////    */
footer {
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: -135px;
}
.footer-block {
    width: 240px;
    height: 115px;
    padding-left: 20px;
    padding-top: 27px;
    border-top: 1px solid rgb(236, 240, 243);
}
.footer-block p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(202, 203, 208);
    line-height: 1.714;
    margin-bottom: 0;
}
.copyrite-block {
    margin-bottom: 5px;
}
.social-block-ul {
    display: flex;
    list-style: none;
}
.social-li {
    margin-right: 10px;
}

/*        /////////////   o-produkte    ////////////////     */

.main-header-prod {
    width: 100%;
    height: 400px;
    background: url(../img/o-produkte-head-bg.png) no-repeat;
    background-size: contain;
    background-position: top right;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bradcramb-block {
    width: 100%;
    padding-left: 287px;
}
.bradcramb-row {
    display: flex;
    list-style: none;
    height: 47px;
    align-items: center;
    border-bottom: 1px solid rgb(236, 240, 243);
    padding-left: 30px;
}
.bradcramb-li {
    font-size: 17px;
    font-family: "Roboto";
    color: #b2b3b8;
    line-height: 1.647;
}
.bradcramb-link {
    font-size: 17px;
    font-family: "Roboto";
    color: rgb(22, 40, 118);
    text-decoration: underline;
    line-height: 1.647;
}

.main-row-h3 {
    font-size: 26px;
    font-family: "Roboto";
    color: rgb(22, 40, 118);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 100px;
}
.main-row-text  {
    padding-left: 30px;
    width: 100%;
    max-width: 880px;
}
.main-row-text p {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(12, 25, 52);
    line-height: 1.5;
    font-weight: 300;
}
.main-row-text p span {
    display: block;
    font-size: 17px;
    font-family: "Roboto";
    color: rgb(12, 25, 52);
    line-height: 1.5;
    padding-top: 10px;
}
.main-row-h4 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(12, 25, 52);
    font-weight: bold;
    line-height: 1.3;
    margin-top: 75px;
    margin-bottom: 25px;
}
.main-row-text-ul {
    color: #b2b3b8;
    padding-left: 36px;
    margin-right: 30px;
}
.main-row-text-ul li {
    margin-bottom: 10px;
}
.main-row-text-ul span{
    font-size: 17px;
    font-family: "Roboto";
    color: rgb(12, 25, 52);
    line-height: 1.5;
    padding-left: 10px;
    font-weight: 300;
    display: block;
}
.main-row-text-ul-block {
    display: flex;
}
.main-row-text-ul-block.block-duble {
    justify-content: space-between;
}
.main-row-block-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.main-row-block-item .main-row-h4 {
    margin-top: 0;
    margin-bottom: -20px;
}
.download-file {
    color: #162876;
    text-decoration: underline;
    font-size: 17px;
    font-family: "Roboto";
    line-height: 1.5;
    font-weight: 300;
}
.main-row-text-block.block-multi {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 110px;
}
.main-row-text-block.block-multi .main-row-block-item {
    width: 33%;
    min-width: 320px;
    margin-bottom: 30px;
}
.main-row-block-sertificat {
    position: relative;
    cursor: pointer;
    width: 212px;
    height: 291px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ebebeb;
}
.zoom-img {
    position: absolute;
    top: 43%;
    left: 42%;
}
.download-file.download-sertificat {
    text-decoration: none;
    margin-top: 20px;
    display: block;
}
.main-row-ul-block-item {
    width: 48%;
}
/*    /////////////  primenenie     ///////////////////    */

.main-header-primenenie {
    width: 100%;
    height: 400px;
    background: url(../img/primeneniye-header.png) no-repeat;
    background-position: top right;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*    /////////////  contacts     ///////////////////    */

p span a {
    color: rgb(12, 25, 52);
}
.main-row-h4.h4-smoll-margin {
    margin-top: 40px;
}
.main-header-contacts {
    width: 100%;
    height: 400px;
    background: url(../img/contact-bg-header.png) no-repeat;
    background-position: top right;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*    /////////////  documents     ///////////////////    */

.main-header-document {
    width: 100%;
    height: 400px;
    background: url(../img/document-bg-header.png) no-repeat;
    background-position: top right;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-row-text-ul.direction-ol {
     width: 100%;
     max-width: 430px;
     padding-left: 16px;
 }
.main-row-text-ul.direction-ol li span a {
    color: rgb(12, 25, 52);
    text-decoration: underline;
}

/*    /////////////  news     ///////////////////    */

.main-row-text.news-row-block {
    max-width: 1062px;
}
.main-row-news-block.block-multi {
    display: flex;
    flex-wrap: wrap;
}
.main-header-news {
    width: 100%;
    height: 400px;
    background: url(../img/news-bg-header.png) no-repeat;
    background-position: top right;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-row-block-news-item  {
    width: 50%;
    position: relative;
}
.main-row-news-img {
    width: 100%;
    position: relative;
    padding: 5px 0px 5px 10px;
}
.main-row-news-img img {
    width: 100%;
}
.item-news-img-blur {
    width: 100%;
    position: absolute;
    background-image: -moz-linear-gradient( 0deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 0px;
    width: 90px;
    height: 100%;
}
.news-item-date {
    position: relative;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(12, 25, 52);
    font-weight: bold;
    line-height: 1.3;
    margin-top: 27px;
    margin-bottom: 15px;
    height: 20px;
    text-transform: uppercase;
    padding-left: 22px;
    width: 100%;
}
.news-item-date:before {
    content: '';
    display: block;
    background: url("../img/clock-smoll.png") no-repeat;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 2px;
}
.news-item-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    position: absolute;
    top:0px;
    width: 100%;
    height: 145px;
    padding-left: 30px;
}
.news-item-title {
    width: 100%;
}
.news-item-title .main-row-h3 {
    margin: 0;
}
.read-more-button {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(216, 31, 55);
    position: absolute;
    left: 20px;
    bottom: 30px;
    width: 206px;
    height: 60px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.75;
}
.read-more-button:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.pagination-news {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.page-link {
    margin: 3px;
    height: 38px;
    width: 38px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgb(242, 242, 242);
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(178, 179, 184);
    font-weight: 500;
}
.page-link.active {
    border: 1px solid rgb(21, 39, 117);
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(22, 40, 118);
}



.page-link[aria-label="Previous"],.page-link[aria-label="Next"] {
    color: #0056b3;
    text-decoration: none;
    border-radius: 3px;
    background-color: rgb(242, 242, 242);
    border-color: rgb(242, 242, 242);
    height: 38px;
    width: 100px;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(12, 25, 52);
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 500;
}

.page-link:focus, .page-link:hover {
    border: 1px solid rgb(21, 39, 117);
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(22, 40, 118);
}
.page-link[aria-label="Previous"]:hover,.page-link[aria-label="Next"]:hover {
    font-size: 15px;
}
.page-link[aria-label="Previous"]:focus,.page-link[aria-label="Next"]:focus {
    font-size: 15px;
}

/*    /////////////   post     ///////////////////    */

.main-header-post {
    width: 100%;
    height: 400px;
    background: url(../img/post-bg-header.png) no-repeat;
    background-position: top right;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-row-text-block-duble {
    display: flex;
}
.main-row-text-block-duble .post-text-block {
    width: 50%;
}
.post-text-block {
    width: 100%;
    padding: 20px 0;
}
.post-text-block.text-block-with-img {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.post-text-block p {
    width: 100%;
    font-size: 17px;
    font-family: "Roboto";
    color: rgb(12, 25, 52);
    line-height: 1.5;
    padding-left: 0px;
    font-weight: 400;
    display: block;
}
.post-text-block_text {
    padding-left: 30px;
}
.post-text-block_text.text-block_left {
    padding-left: 0;
    padding-right: 30px;
}
.main-row-post-h4 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(12, 25, 52);
    font-weight: bold;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-row-post-h4.post-h4-thin {
    font-weight: 400;
}
.post-text-block_separate {
    display: flex;
    width: 100%;
    justify-content: center;
}
.line-block_separate {
    border: 2px solid #cccccc;
    width: 241px;
    margin: 23px 0;
}

/*    /////////////   search     ///////////////////    */

.main-header-search {
    width: 100%;
    height: 400px;
    background: url(../img/search-bg-header.png) no-repeat;
    background-position: top right;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-row-text.search-row-block {
    width: 100%;
    max-width: 1024px;
}

.search-page-head-title {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(178, 179, 184);
    line-height: 1.2;
    padding: 10px 5px;
    border-bottom: 1px solid rgb(210, 214, 217);
    width: 100%;
    max-width: 495px;
    position: relative;
    margin-top: 90px;
}
.search-page-head-title:after {
    content: '';
    display: block;
    position: absolute;
    right: 6px;
    top: 12px;
    width: 20px;
    height: 20px;
    background: url(../img/search-icon.png) no-repeat;

}
.search-page-result {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(12, 25, 52);
    line-height: 1.5;
    padding-top: 16px;
    margin-bottom: 20px;
}
.search-page-result-number {
    font-weight: 500;
}
.search-page-block-item {
    background: rgb(242, 242, 242);
    width: 100%;
    max-width: 1019px;
    padding: 27px 30px 27px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.search-page-item-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}
.search-page-item-link-title{
    font-size: 20px;
    font-family: "Roboto";
    color: #152775;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.3;
}
.search-page-item-link-direct {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(21, 39, 117);
    text-decoration: underline;
    line-height: 1.5;
}
.search-page-item-description {
    font-size: 17px;
    font-family: "Roboto";
    color: #152775;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 10px;
}

/*    /////////////   sportpit     ///////////////////    */

.main-header-sportpit {
    width: 100%;
    height: 400px;
    background: url(../img/sportpit-bg-header.png) no-repeat;
    background-position: top right;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*    /////////////   dietpit     ///////////////////    */

.main-header-dietpit {
    width: 100%;
    height: 400px;
    background: url(../img/dietpit-bg-header.png) no-repeat;
    background-position: top right;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*    /////////////   lecebtpit     ///////////////////    */

.main-header-lecebpit {
    width: 100%;
    height: 400px;
    background: url(../img/lecebpit-bg-header.png) no-repeat;
    background-position: top right;
    display: flex;
    justify-content: flex-end;
    padding-top: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*    /////////////                            media                     ///////////////////    */


/*    /////////////   media 1024     ///////////////////    */


@media all and (max-width: 1024px){
    .main-row {
        padding-left: 0px;
    }
    .main-row-1 a {
        width: 33%;
    }
    .main-header {
        height: 600px;
    }
    header {
        max-height: 600px;
        min-height: 75px;
        width: 100%;
        display: flex;
        height: auto;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin-bottom: -75px;
        background: #fff;
        background-image: -moz-linear-gradient( 90deg, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
    }

    .header-logo {
        display: none;
    }
    .header-logo-1024 {
        display: flex;
        width: auto;
        padding: 5px 90px 5px 120px;
        justify-content: center;
    }
    .navbar {
        padding-left: 42px;
        position: absolute;
        top: 0px;
        padding-top: 18px;
        background: #fff;
    }
    .header-contact-tel {
        margin-top: 0;
        position: absolute;
        right: 42px;
    }
    .bradcramb-block {
        padding-left: 0px;
    }
    .block-1024 {
        display: block !important;
        position: absolute;
        right: 260px;
        margin-top: 0 !important;
    }
    footer {
        margin-top: 0px;
        padding-bottom: 0;
        padding-right: 40px;
    }
    .footer-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 67px;
        padding-top: 0;
    }
    .social-block {
        display: flex;
        align-items: center;
    }
    .social-block-ul {
        margin-bottom: 0;
        margin-left: 20px;
    }
    .about-link:before,.use-link:before,.doc-link:before,.contact-link:before,.news-link:before {
        left: 0;
    }
    .nav-item .nav-link {
        padding-left: 43px !important;
    }
    .form-inline  {
        display: none;
    }
}

/*    /////////////   media 768     ///////////////////    */


@media all and (max-width: 768px) {
    .main-header {
        height: 445px;
    }
    .main-row-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .girl-main-text p {
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .main-row-1 {
        display: none;
    }
    .main-row-1-768 {
        display: block;
    }
    .main-row-1-768 a {
        width: 100%;
    }
    .main-row-1-768 a img {
        width: 100%;
    }
    .post-text-block_img {
        margin-bottom: 20px;
    }
    .post-text-block.text-block-with-img {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .post-text-block_text {
        padding-left: 0px;
    }
    .post-text-block  {
        padding-right: 30px;
    }
    .main-row-text-img img {
        max-width: 100%;
    }
    .main-header-prod,.main-header-primenenie {
        height: 285px;
    }
}